*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid #FFFFFF;
    
}

.main-nav li a:hover
{
    border: 1px solid #FFFFFF;
}


.main-nav li a
{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 35px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    float: center;
    
}

h2 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin-top: 275px;
    float: center;
    
}

h3 {
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    
}

h4 {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}


header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(CityBackground.jpg);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.logo img
{
    width: 150px;
    height: auto;
    float: left;
    
}

.column {
  float: left;
  width: 33%;
  padding: 2px;
}


.rows::after {
  content: "";
  clear: both;
  display: table;
}

.slider {
	width: 1024px;
	margin: 100px auto;
	
}

.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
	float: center;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

 #stage {
    margin: 1em auto;
    width: 382px;
    height: 292px;
  }

  #stage a {
    position: absolute;
  }
  #stage a img {
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
  }

  #stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
  }
  #stage a:nth-of-type(2) {
    z-index: 10;
  }
  #stage a:nth-of-type(n+3) {
    display: none;
  }

  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }

