*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid #FFFFFF;
    
}

.main-nav li a:hover
{
    border: 1px solid #FFFFFF;
}


.main-nav li a
{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 35px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    float: center;
    
}

h2 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin-top: 275px;
    float: center;
    
}

h3 {
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    
}

h4 {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}


header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(CityBackground.jpg);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.logo img
{
    width: 150px;
    height: auto;
    float: left;
    
}

.column {
  float: left;
  width: 33%;
  padding: 2px;
}


.rows::after {
  content: "";
  clear: both;
  display: table;
}

.slider {
    width 800px; 
    height: 400px;
    backgroud: url(DDP1.jpg);
    margin: 100px auto;
    animation: slide 10s infinite;
}
@keyframes slide{
      20%{
        backgroud: url(DDP1.jpg);
    }
      25%{
        backgroud: url(DDP2.jpg);
    }
      30%{
        backgroud: url(DDP3.jpg);
    }
      35%{
        backgroud: url(DDP4.jpg);
    }
      40%{
        backgroud: url(DDP5.jpg);
    }
      45%{
        backgroud: url(DDP6.jpg);
    }
      50%{
        backgroud: url(DDP7.jpg);
    }
      55%{
        backgroud: url(DDP8.jpg);
    }
      60%{
        backgroud: url(DDP9.jpg);
    }
      65%{
        backgroud: url(DDP10.jpg);
    }
      70%{
        backgroud: url(DDP11.jpg);
    }
      75%{
        backgroud: url(DDP12.jpg);
    }
      80%{
        backgroud: url(DDP13.jpg);
    }
      85%{
        backgroud: url(DDP14.jpg);
    }
      90%{
        backgroud: url(DDP15.jpg);
    }
      95%{
        backgroud: url(DDP16.jpg);
    }
      100%{
        backgroud: url(DDP17.jpg);

