*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid #FFFFFF;
    
}

.main-nav li a:hover
{
    border: 1px solid #FFFFFF;
}


.main-nav li a
{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 35px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    float: center;
    
}

h2 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
    margin-top: 275px;
    float: center;
    
}

h3 {
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    
}

h4 {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
}


header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(CityBackground.jpg);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.logo img
{
    width: 150px;
    height: auto;
    float: left;
    
}

.column {
  float: left;
  width: 33%;
  padding: 2px;
}


.rows::after {
  content: "";
  clear: both;
  display: table;
}

.slider{
    overflow: hidden;
    height: 400px;
}

.slider figure div{
width: 800px;
     margin: 400px;
}
.slider figure img{
width: 800px;
    margin: 400px;
}

.slider figure{
position: relative;
    width: 800px;
    margin: 400px;
    left: 400px;
    animation; 40s slidy infinite;
}

@keyframes slidy{
0%{
    left:0%;
    }
    
    10%{
        left:0%;
    }
    
    12%{
        left: -100%;
    }
    
    22%{
        left: -100%;
    }
    
    24%{
        left: -200%;
    }
    
    34%{
        left: -200%;
    }
    
    36%{
        left: -300%;
    }
    
    46%{
        left: -300%;
    }
    
    48%{
        left: -400%;
    }
    
    58%{
        left: -400%;
    }
    
    60%{
        left: -300%;
    }
    
    70%{
        left: -300%;
    }
    
    72%{
        left: -200%;
    }
    
    82%{
        left: -200%;
    }
    
    84%{
        left: -100%;
    }
    
    94%{
        left: -100%;
    }
    
    96%{
        left: 0%;
    }
    
}

     
        
        
}
